
*.png
*.html
*.txt
*.txt
*.txt
*.js
*.gif
target/surefire/surefire_08738414249028743037tmp
*.class
target/classes/com/fnoor/FundraisingPageDriver.class
target/classes/com/fnoor/FundraisingTest/PAYSAFE.class
target/classes/com/fnoor/PageFields$1.class
target/classes/com/fnoor/PageFields$2.class
target/classes/com/fnoor/PageFields.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/surefire-reports/junitreports/TEST-com.fnoor.Events.EV_04.xml
target/surefire-reports/junitreports/TEST-com.fnoor.FundraisingTest.PAYSAFE.xml
target/surefire-reports/old/Regression EVENTS/EVENTS.properties
target/surefire-reports/old/Regression PAYSAFE/Donations PAYSAFE.properties
target/surefire-reports/Regression EVENTS/EVENTS.xml
target/surefire-reports/Regression EVENTS/testng-failed.xml
target/surefire-reports/Regression PAYSAFE/Donations PAYSAFE.xml
target/surefire-reports/TEST-TestSuite.xml
target/surefire-reports/testng-failed.xml
target/surefire-reports/testng-results.xml
