<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression">
    <listeners>
        <listener class-name="org.testng.reporters.JUnitReportReporter"/>
    </listeners>
    <test name="Donations">
        <classes>
            <class name="com.fnoor.FundraisingTest.TestNGIats" />
            <class name="com.fnoor.FundraisingTest.Testing" />
            <class name="com.fnoor.FundraisingTest.IATS" />

        </classes>
<!--        <classes>-->
<!--            <class name="api.http.calls.ApiTest" />-->
<!--        </classes>-->
    </test>
</suite>
